<div class= "login-pg">
  <div class="card">
    <div class="card-block">
      <h2 class="login-font">Forgot your password?</h2>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
            <br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email",class: "login-text-field" %>
            </div>

            <div class="actions">
              <%= f.submit "Send me reset password instructions", class: "btn btn-primary login-text-field" %>
            </div>
          <% end %>
          <div class="auth-links register-text">
            <%= render "devise/shared/links" %>
          </div>
   </div>
  </div>
</div>
